.babelrc
.DS_Store
.idea/
.rpt2_cache
.travis.yml
.vscode
*.tgz
*.txt
**.yalc
**yalc.lock
cloudbuild.yml
coverage/
demo/
dist/**/*_test.d.ts
dist/**/*_test.js
karma.conf.js
node_modules/
npm-debug.log
package-lock.json
package/
rollup.config.js
scripts/
src/**/*_test.ts
tsconfig.json
tslint.json
yarn-error.log
yarn.lock
