---
layout: default
---
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <article class="post">
      {{ content }}
    </article>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    {% assign pages_list = site.pages | sort: 'order' %}
    <nav class="site-nav">
      <ul>
        {% for my_page in pages_list %}
          {% if my_page.title and my_page.title != '_' %}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
