.vscode/
.rpt2_cache/
src/**/*_test.ts

cloudbuild.yml
scripts/
tools/
toolchain/
**/node_modules/
karma.conf.js
*.tgz
*.log
WORKSPACE.md
tslint.json
yarn.lock
DEVELOPMENT.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
rollup.config.js
tsconfig.json
.yalc/
yalc.lock
