{
  "presets": [
    [
      "env",
      {
        "esmodules": false,
        "corejs": 2,
        "targets": {
          "browsers": [
            "> 3%"
          ]
        }
      }
    ]
  ],
  "plugins": []
}
