**/node_modules/
**/bundle.js
**/*.js.map
coverage/
*.tgz
npm-debug.log
yarn-error.log
.DS_Store
dist/
.idea/
.yalc/
yalc.lock
integration_tests/tfjs2keras/test-data/

bazel-*

*.pyc

.cache
.rpt2_cache/
