*.log
*.tar.gz
*.tgz
*.zip
*/diff
**/*.pyc
**/bundle.js
**/*.js.map
.DS_Store
.idea/
.nyc_output/
.rpt2_cache/
.yalc/
.vscode/ipch/
/compiled_api.js
bazel-out/
bazel-*
build-tmp-napi-v3/
build-tmp-napi-v4/
build/
clone/
coverage/
demo/train-*
deps/
dist/
tfjs-layers/integration_tests/tfjs2keras/test-data/
tfjs-layers/integration/typescript/yarn.lock
lib/
local.log
node_modules/
npm-debug.log
package
package-lock.json
release-notes.md
tensorflow-tfjs-*.tgz
tfjs-backend-wasm/dist
tfjs-backend-wasm/wasm-out
yalc.lock
yarn-error.log
