.vscode/
demo/
deps/tensorflow/*
scripts/build-npm.sh
scripts/make-version
scripts/tag-version
scripts/publish-npm.sh
build/
src/
node_modules/
*.tgz
.travis.yml
.npmignore
CONTRIBUTING.md
tslint.json
yarn.lock
yalc.lock
yarn-error.log
.yalc/
