.vscode/
src/**/*_test.ts
demo/
deps/lib/*
deps/include/*
scripts/build-npm.sh
scripts/make-version
scripts/tag-version
scripts/publish-npm.sh
build/
integration/
node_modules/
test_objects/
*.tgz
.travis.yml
.npmignore
cloudbuild.yml
CONTRIBUTING.md
tslint.json
yarn.lock
yalc.lock
yarn-error.log
.yalc/
lib/
deps/
build-tmp-napi-v*/
*.tar.gz
*.zip
