# Ignore other packages in the mono-repo.
tfjs-backend-webgpu/
tfjs-backend-nodegl/
tfjs-react-native/

.vscode/
.rpt2_cache/
src/**/*_test.ts
integration_tests/

dist/backends/**/*_test.js
models/
coverage/
package/
**/node_modules/
karma.conf.js
*.tgz
*.log
.travis.yml
CONTRIBUTING.md
tslint.json
yarn.lock
DEVELOPMENT.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
rollup.config.js
tsconfig.json
.yalc/
yalc.lock
tfjs-react-native/
tfjs-backend-nodegl/
