html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}
head {
  height: 0;
  width: 0;
}
/* Typography */
p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.67em;
  font-size: 16px;
}
.mdl-list__item a {
  text-decoration: none;
  color: rgba(0,0,0,0.64);
  font-weight: 400;
  letter-spacing: 0;
}
.mdl-list__item a:hover {
  text-decoration: underline;
  color: rgba(0,0,0,0.64);
  font-weight: 400;
  letter-spacing: 0;
}
.mdl-navigation__link{
  font-family: 'Roboto', sans-serif;
}
.mdl-layout__drawer {
  font-family: 'Roboto', sans-serif;
}

/* CPPN Demo */
.banner {
  background-size: cover;
  background-position: center;
  min-height: 250px;
  padding-top: 64px;
  padding-bottom: 32px;
  position: relative;
}
.banner-cover {
  position: relative;
  background: #466368;
  background: -webkit-linear-gradient(#c4c4c4, #293f50);
  background: -moz-linear-gradient(#c4c4c4, #293f50);
  background: linear-gradient(#c4c4c4, #293f50);
}
.banner-text {
  color:#fff;
}
.cppn-controls {
  min-width: 300px;
  max-width: 300px;
  padding:24px 24px 60px 24px;
  background-color: rgba(255,255,255,0.99);
  position: relative;
}
.cppn-demo {
  color:#fff;
}
#disabled-demo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 82, 90, .9);
  top: 0;
  left: 0;
}
#disabled-demo {
  margin: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  padding: 32px;
  bottom: 0;
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-align: left;
  line-height: 1.3325em;
  z-index: 2;
}
#inference {
  width: 100%;
  height: calc(100% + 1px);
  position: absolute;
}
.getmdl-select .mdl-icon-toggle__label{
  float:right;
  margin-top:-30px;
  color:rgba(0,0,0,0.4);
}
/* Introduction */
.intro-text {
  margin: 32px auto 32px auto;
}
.mdl-grid {
  max-width: 1200px;
}
.mdl-mini-footer {
  margin-top: 72px;
}
.mdl-card__actions {
  padding-left: 12px;
}
.intro-headline {
  line-height: 1.67em;
  font-weight: 300;
  color: #888;
}
/* Responsive behavior */
.intro-text > .mdl-cell--8-col-tablet {
  margin-top: 72px;
}
.banner >.mdl-cell--8-col-tablet {
  margin: 36px;
}
.resource-tabs {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #346f91;
  font-size: 16px;
}
a:visited {
  color: #346f91;
}
a:hover {
  color: #346f91;
}
.mdl-card__actions a:hover {
  text-decoration: none;
}

a.main-title {
  color: white;
  text-decoration: none;
}

blockquote {
  color: black;
  padding: 8px 8px 8px 20px;
  border-left-width: 2px;
  font-style: normal;
  border-left-style: solid;
  border-color: #9e9e9e;
  background-color: #eee;
  margin-bottom: 32px;
}
blockquote:before {
  content: none;
}
blockquote:after {
  content: none;
}
ul {
  margin-left: 16px;
  list-style-type: disc;
}
ul ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: disc;
}
ul ul ul ul {
  list-style-type: disc;
}
.highlight .err {
  color: inherit;
  background-color: inherit;
}
table {
  border-spacing: 20px;
}
.site-nav {
  position: fixed;
  float: inherit;
}
.site-nav ul {
  margin-top: 32px;
  border-left: solid 3px #C0EbF1;
  padding-left: 20px;
  line-height: 28px;
  list-style-type: none;
  line-height: 2.7em;
  font-weight: normal;
}
.site-nav ul a {
  color: #50797f;
  font-weight: normal;
}
ul.index {
  border-left: 2px solid #346f91;
  margin-left: 16px;
  margin-top: 16px;
  padding-left: 16px;
  list-style-type: none;
}
.deeplearn-shine {
  color: #777;
  font-weight: 500;
}
.demo-card .mdl-card__title {
  color: #fff;
  height: 176px;
}

.demo-card .mdl-card__title:before {
  content: '';
  height: 176px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(53, 71, 80, 0.65);
}

#model-builder {
  background: url('../demos/images/model-builder.png') center / cover;
}

#webcam {
  background: url('../demos/images/imagenet.png') center / cover;
}

#nnart {
  background: url('../demos/images/nn-art.png') center / cover;
}

#benchmarks {
  background: url('../demos/images/benchmark.png') center / cover;
}

.demo-card .mdl-card__title-text {
  color: white;
  z-index: 1;
  font-weight: 400;
}

.mdl-typography--display-2, h1, h2, h3, h4 {
  color: #414141;
  font-weight: 300;
}
code {
  background: none;
}
.highlighter-rouge .highlight {
  background-color: #f5f5f5;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}
p.intro-body {
  font-weight: 300;
}
.mdl-mini-footer__link-list a {
  color: rgb(158, 158, 158);
}
.mdl-mini-footer__link-list a:visited {
  color: rgb(158, 158, 158);
}
