<!-- Header -->
<header class="mdl-layout__header mdl-layout--fixed-header">
  <script>
    if (location.protocol !== "https:" &&
        location.hostname === 'deeplearnjs.org') {
      location.protocol = "https:";
    }
  </script>
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="main-title" href="{{ "/index.html" | relative_url }}"><span class="mdl-layout-title">deeplearn.js</span></a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" target='_blank' href="https://github.com/PAIR-code/deeplearnjs">Code</a>
      <a class="mdl-navigation__link" href="{{ "/#getting-started" | relative_url }}">Getting Started</a>
      <!-- <a class="mdl-navigation__link" href="{{ "/docs/intro.html" | relative_url }}">Introduction</a> -->
      <a class="mdl-navigation__link" href="{{ "/index.html#demos" | relative_url }}">Examples</a>
      <a class="mdl-navigation__link" href="{{ "/docs/tutorials/index.html" | relative_url }}">Tutorials</a>
      <a class="mdl-navigation__link" href="{{ "/docs/api/globals.html" | relative_url }}">API Reference</a>
    </nav>
  </div>
</header>
<!-- Drawer -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="{{ "/index.html" | relative_url }}">deeplearn.js</a></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" target='_blank' href="https://github.com/PAIR-code/deeplearnjs">Code</a>
    <a class="mdl-navigation__link" href="{{ "/#getting-started" | relative_url }}">Getting Started</a>
    <!-- <a class="mdl-navigation__link" href="{{ "/docs/intro.html" | relative_url }}">Introduction</a> -->
    <a class="mdl-navigation__link" href="{{ "/index.html#demos" | relative_url }}">Examples</a>
    <a class="mdl-navigation__link" href="{{ "/docs/tutorials/index.html" | relative_url }}">Tutorials</a>
    <a class="mdl-navigation__link" href="{{ "/docs/api/globals.html" | relative_url }}">API Reference</a>

    <a class="mdl-navigation__link" href="https://www.google.ai/pair" target='_blank'>People + AI Research Initiative</a>
    <a class="mdl-navigation__link" href="https://pair-code.github.io" target='_blank'>PAIR Open Source</a>
  </nav>
</div>
